<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<!-- Добавлен для красивого стиля селектора модального окна -->


<div class="container">
    <div class="border mb-1 mx-0" *ngFor="let seat of places" (click)='changeStatus(seat) ' [style.backgroundColor]="seat.color">

        <ng-template #content let-modal>

            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
            </div>

            <div class="modal-body">
                <form>
                    <select #selector class="form-select" aria-label="Default select example">
                        <option *ngIf="seat.savedTime !== '0'" selected>{{seat.savedTime}} : 00</option>
                        <option *ngFor="let interval of intervals">{{interval}} : 00</option>
                    </select>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" aria-label="Close" (click)="modal.dismiss('Cross click'); removeStatus(seat)">
                    Отмена
                </button>

                <button type="button" class="btn btn-primary" (click)="modal.close('Save click'); updateTime(seat.savedTime, seat.id, selector.value)">ОК</button>
            </div>
        </ng-template>

        <button class="special" (click)="open(content)"></button>

    </div>


</div>