<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script> -->

<div class="container">
    <div class="border mb-1 mx-0" *ngFor="let seat of places" (click)='changeStatus(seat) ' [style.backgroundColor]="seat.color">
        <!-- <app-modal [savedTime]=seat.savedTime></app-modal> -->

        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
                <!--  -->
            </div>
            <div class="modal-body">
                <form>
                    <select #selector class="form-select" aria-label="Default select example">
                        <!-- <option *nIf="pickedValue">{{pickedValue}} : 00</option> -->
                        <option *ngIf="seat.savedTime !== '0'" selected>{{seat.savedTime}} : 00</option>
                        <option *ngFor="let interval of intervals">{{interval}} : 00</option>
                    </select>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" aria-label="Close" (click)="modal.dismiss('Cross click'); removeStatus(seat)">
                    Отмена
                </button>
                <!-- Здесь нужно очистить, то есть изменить свойство цвета родительской компоненты -->

                <button type="button" class="btn btn-primary" (click)="modal.close('Save click'); updateTime(seat.savedTime, seat.id, selector.value)">ОК</button>
                <!-- Здесь нужно сохранить время и записать его в родительскую компоненту -->
            </div>
        </ng-template>
        <!-- button for demo -->
        <button class="special" (click)="open(content)"></button>

    </div>


</div>